<!DOCTYPE html>
<html>
<head>
    <title>Transcript Extractor</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>

</head>
<body>
    <div class="heading">
    <h1>Transcript Extractor</h1>
    </div>
    <div class="Main">
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".mp4, .mp3 , .wav , .png , .pdf , .jpeg , .pptx">
        
        <!--<button class="button-64" type="submit" value="Extract Transcript" onclick="generateTranscription()">Extract Transcript</button>-->
        <br>
        <button class="button-65" role="button" type="submit" value="Extract Transcript" onclick="generateTranscription()">Extract Transcript</button>
    </form>
    <div id="result">
        <p id="resultText"></p>
    </div>
    <div>
        <!-- <script>
            let parsedData;  // Declare parsedData globally
    
            fetch('trans.txt')
                // .then((res) => res.text())
                .then((csvData) => {
                    // Parse CSV data
                    parsedData = Papa.parse(csvData, { header: true });
                });
    
            let resText = document.getElementById("resultText");
    
            function generateTranscription() {
                // Access parsedData within the function
                if (parsedData) {
                    resText.textContent = JSON.stringify(parsedData.data);
                } else {
                    resText.textContent = "CSV data not loaded yet.";
                }
            }
        </script> -->
        <!-- <script>
            let parsedData;
    
            document.getElementById('fileForm').addEventListener('change', handleFile);
    
            function handleFile(event) {
                const fileInput = event.target;
                const file = fileInput.files[0];
    
                if (file) {
                    const reader = new FileReader();
    
                    reader.onload = function (e) {
                        const fileContent = e.target.result;
                        parsedData = Papa.parse(fileContent, { header: true });
                    };
    
                    reader.readAsText(file);
                }
            }
    
            let resText = document.getElementById("resultText");
    
            function generateTranscription() {
                if (parsedData) {
                    resText.textContent = JSON.stringify(parsedData.data);
                } else {
                    resText.textContent = "File not loaded yet.";
                }
            }
        </script> -->
        
</body>
</html>